{{define "content"}}
	<div class="main-menu">
		<div class="row">
			<div class="columns small-12 text-center">
				<h2>Feeding your family since 1995</h2>
				<p>Humble Homesteaders provide a variety of healty options for
					you and your family from livestock to produce</p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-10 small-offset-1">
				<div class="row">
					<div class="columns small-4">
	<img src="/img/empty_background.png" alt="lemon" class="lemon" />
						<div class="row">
							<div class="icon columns small-12">
								<a href="/fruitveg">
								<img src="/img/vegetables-fruit-mixed-heart.png" alt="heart" />
								</a>
							</div>
						</div>

					</div>
					<div class="columns small-4">
						<img src="/img/empty_background.png"
													alt="lemon" class="lemon" />
							<div class="row">
								<div class="icon columns small-12">
									<a href="/bee">
									<img src="/img/bees.png" alt="bees" />
									</a>
								</div>
							</div>

					</div>
					<div class="columns small-4">
						<img src="/img/empty_background.png" alt="lemon" class="lemon" />
						<div class="row">

							<div class="icon columns small-12">
								<a href="/livestock">
								<img src="/img/livestock.png" alt="livestock" />
								</a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}
